/*global*/

.flex {
    display: flex;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*/global*/

/*header*/

.header-list-item:not(:last-child) {
    margin-right: 45px;
}

.nav__link {
    font-size: 16px;
    line-height: 16px;
    color: #666;
    transition: color .3s ease-in-out;
}

.header__bottom-block {
    height: 70px;
    align-items: center;
    padding: 0 45px;
    justify-content: space-between;
    background-color: var(--color-white);
    border-radius: 15px;
  }

/*/header*/
