<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    {% block header %}
    <div class="header__bottom-block flex">
        <nav class="header-nav">
            <ul class="header-list list-reset flex">
                <li class="header-list-item">
                    <a href="{{ url_for('about') }}" class="nav__link">
                        О&nbsp;нас
                    </a>
                </li>
                <li class="header-list-item">
                    <a href="{{ url_for('add_client') }}" class="nav__link">
                        Добавить клиента
                    </a>
                </li>
                <li class="header-list-item">
                    <a href="{{ url_for('add_note') }}" class="nav__link">
                        Добавить запись
                    </a>
                </li>
                <li class="header-list-item">
                    <a href="{{ url_for('dashboard') }}" class="nav__link">
                        Список клиентов (Панель инструментов)
                    </a>
                </li>
                <li class="header-list-item">
                    <a href="{{ url_for('display_note') }}" class="nav__link">
                        Список записей
                    </a>
                </li>
                <li class="header-list-item">
                    <a href="{{ url_for('index') }}" class="nav__link">
                        Индекс
                    </a>
                </li>
                <li class="header-list-item">
                    <a href="{{ url_for('login') }}" class="nav__link">
                        Вход
                    </a>
                </li>
                <li class="header-list-item">
                    <a href="{{ url_for('registration') }}" class="nav__link">
                        Регистрация
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    {% endblock %}

    {% block body %}

    {% endblock %}
</body>

</html>
