<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    {% block header %}
    <nav>
        <ul>
            <li>
                <a href="{{ url_for('about') }}">About</a>
                <a href="{{ url_for('add_client') }}">Add Client</a>
                <a href="{{ url_for('add_note') }}">Add Note</a>
                <a href="{{ url_for('article_more') }}">Article More</a>
                <a href="{{ url_for('create_article') }}">Create article</a>
                <a href="{{ url_for('dashboard') }}">Dashboard</a>
                <a href="{{ url_for('display_articles') }}">Display Articles</a>
                <a href="{{ url_for('display_notes') }}">Display Note</a>
                <a href="{{ url_for('index') }}">Index</a>
                <a href="{{ url_for('login') }}">Login</a>



                <a href="{{ url_for('registration') }}">Registration</a>


            </li>
        </ul>
    </nav>
    {% endblock %}

    {% block body %}

    {% endblock %}
</body>

</html>
