{% extends 'main_html/base.html' %}

{% block title %}
dashboard title
{% endblock %}

{% block body %}
<h2>Clients:</h2>
<ul>
    {% for client in clients %}
    <li>
        Name: {{ client.name }} (added by: {{ client.username }}) Phone: {{ client.phone }}
        Balance: {{ client.balance }}
        <form method="post" action="{{ url_for('modify_balance', client_id=client.id) }}">
            <input type="number" name="amount" step="0.01" placeholder="Enter amount" required>
            <button type="submit" name="action" value="add">Add</button>
            <button type="submit" name="action" value="subtract">Subtract</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}
