{% extends 'main_html/base.html' %}

{% block title %}
Список клиентов (Панель инструментов)
{% endblock %}

{% block body %}
<h2>Список клиентов (Панель инструментов)</h2>
<ul>
    {% for client in clients %}
    <li>
        Имя: {{ client.name }} (Добавлен пользователем: {{ client.username }}) Телефон: {{ client.phone }}
        Баланс: {{ client.balance }}
        <form method="post" action="{{ url_for('modify_balance', client_id=client.id) }}">
            <input type="number" name="amount" step="0.01" placeholder="Сумма" required>
            <button type="submit" name="action" value="add">Добавить</button>
            <button type="submit" name="action" value="subtract">Вычесть</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}
