{% extends 'main_html/base.html' %}

{% block title%}
user registration page
{% endblock %}

{% block body %}
<h1>User registration body</h1>
<form action="" method="POST">
    <input type="text" name="Имя" required placeholder="Имя">
    <input type="text" name="email" required placeholder="Почта">
    <input type="password" name="passwd" required placeholder="Пароль">
    <input type="text" name="retype_passwd" required placeholder="Повторите пароль">
    <button type="submit" value="Регистрация">Регистрация</button>
</form>


{% endblock %}
